n8n-workflow-lead-cursoads.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-ADS",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-288, 448],
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook lead-ADS",
      "webhookId": "a1b2c3d4-0001-0001-0004-000000000001",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.body ?? $json;\nlet data = raw;\nif (typeof data === 'string') {\n  try { data = JSON.parse(data); } catch { data = {}; }\n}\nif (typeof data !== 'object' || data === null || Array.isArray(data)) { data = {}; }\n\nconst pick = (obj, keys, fallback = '') => {\n  for (const key of keys) {\n    const val = obj[key];\n    if (val !== undefined && val !== null && String(val).trim() !== '') {\n      return typeof val === 'string' ? val.trim() : String(val);\n    }\n  }\n  return fallback;\n};\n\nconst normalizePhone = (value) => {\n  const digitsOnly = String(value ?? '').replace(/\\D/g, '');\n  if (!digitsOnly) return '';\n  let br = digitsOnly;\n  if (br.startsWith('55') && br.length > 11) br = br.slice(2);\n  br = br.slice(0, 11);\n  return br ? `'${br}` : '';\n};\n\nconst dateBR = new Date().toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n\nconst nome  = pick(data, ['nome', 'Nome completo'], '');\nconst email = pick(data, ['email', 'Qual seu e-mail?'], '');\n\nconst wppRaw  = pick(data, ['whatsapp', 'Qual o seu WhatsApp?', 'WhatsApp'], '');\nconst wpp2Raw = pick(data, ['whatsapp_confirmacao', 'Confirme seu WhatsApp', 'Confirmar WhatsApp'], '');\nconst wpp  = normalizePhone(wppRaw);\nconst wpp2 = normalizePhone(wpp2Raw);\n\nconst nivel = pick(data, ['nivel_ml'], '');\nconst nivelLabels = {\n  sem_medalha:    'Sem medalha',\n  mercado_lider:  'Mercado Líder',\n  gold:           'Gold',\n  platinum:       'Platinum'\n};\nconst nivelLegivel = nivelLabels[nivel] || nivel;\n\nconst channel  = pick(data, ['channel', 'canal'], 'direto');\nconst source   = pick(data, ['utm_source', 'source'], 'direto');\nconst medium   = pick(data, ['utm_medium', 'medium'], 'none');\nconst campaign = pick(data, ['utm_campaign', 'campaign'], 'none');\nconst content  = pick(data, ['utm_content', 'content'], 'none');\nconst referrer = pick(data, ['referrer'], '');\nconst pageUrl  = pick(data, ['page_url'], '');\nconst timestamp = pick(data, ['timestamp'], new Date().toISOString());\nconst mql      = pick(data, ['mql'], '');\n\nreturn [{\n  json: {\n    'Entrada leads':         dateBR,\n    'Funil':                 'Curso ADS',\n    'Nome completo':         nome,\n    'Qual seu e-mail?':      email,\n    'Qual o seu WhatsApp?':  wpp,\n    'Confirme seu WhatsApp': wpp2,\n    'Pergunta adicional':    `Nível ML: ${nivelLegivel}`,\n    channel,\n    'Source':   source,\n    'Medium':   medium,\n    'Campaign': campaign,\n    'Content':  content,\n    'Referrer': referrer,\n    'Page URL': pageUrl,\n    timestamp,\n    'MQL': mql\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-64, 448],
      "id": "a1b2c3d4-0001-0001-0002-000000000001",
      "name": "Parse Body lead-ADS",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1FdV_XZNwPtaEGqyUqErTJ4LJUwlgOn3tul_doV3WKZA/edit?gid=633008305#gid=633008305",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 633008305,
          "mode": "list",
          "cachedResultName": "pago",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FdV_XZNwPtaEGqyUqErTJ4LJUwlgOn3tul_doV3WKZA/edit#gid=633008305"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Entrada leads":         "={{ $json['Entrada leads'] }}",
            "Nome completo":         "={{ $json['Nome completo'] }}",
            "Qual seu e-mail?":      "={{ $json['Qual seu e-mail?'] }}",
            "Qual o seu WhatsApp?":  "={{ $json['Qual o seu WhatsApp?'] }}",
            "Confirme seu WhatsApp": "={{ $json['Confirme seu WhatsApp'] }}",
            "Pergunta adicional":    "={{ $json['Pergunta adicional'] }}",
            "Funil":                 "={{ $json.Funil }}",
            "MQL":                   "={{ $json.MQL }}",
            "channel":               "={{ $json.channel }}",
            "Source":                "={{ $json.Source }}",
            "Medium":                "={{ $json.Medium }}",
            "Campaign":              "={{ $json.Campaign }}",
            "Content":               "={{ $json.Content }}",
            "Referrer":              "={{ $json.Referrer }}",
            "Page URL":              "={{ $json['Page URL'] }}",
            "timestamp":             "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Entrada leads",         "displayName": "Entrada leads",         "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Nome completo",         "displayName": "Nome completo",         "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Qual seu e-mail?",      "displayName": "Qual seu e-mail?",      "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Qual o seu WhatsApp?",  "displayName": "Qual o seu WhatsApp?",  "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Confirme seu WhatsApp", "displayName": "Confirme seu WhatsApp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Pergunta adicional",    "displayName": "Pergunta adicional",    "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Funil",                 "displayName": "Funil",                 "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "MQL",                   "displayName": "MQL",                   "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "channel",               "displayName": "channel",               "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Source",                "displayName": "Source",                "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Medium",                "displayName": "Medium",                "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Campaign",              "displayName": "Campaign",              "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Content",               "displayName": "Content",               "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Referrer",              "displayName": "Referrer",              "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Page URL",              "displayName": "Page URL",              "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "timestamp",             "displayName": "timestamp",             "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [160, 448],
      "id": "a1b2c3d4-0001-0001-0003-000000000001",
      "name": "Google Sheets → pago (lead-ADS)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jFHr4eg26MHLFHHa",
          "name": "Cockpit"
        }
      }
    }
  ],
  "connections": {
    "Webhook lead-ADS": {
      "main": [[{ "node": "Parse Body lead-ADS", "type": "main", "index": 0 }]]
    },
    "Parse Body lead-ADS": {
      "main": [[{ "node": "Google Sheets → pago (lead-ADS)", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2041f8092fce2115726eddb1e426926a5611d3381df73a6f0a4d6fdebec6e0b"
  }
}
